<h1>All Rooms</h1>
<%= link_to 'Create a New Room', new_room_path %>
<bk>
<ul>
  <% @rooms.each do |room| %>
    <li>
      <strong> <%= link_to room.name, room_path(room) %> </strong>: <%= "add more info later" %>
    </li>
  <% end %>
</ul>
