<h1>All Rooms</h1>
<!-- <p>insert list of all rooms</p> -->
<ul>
  <% @rooms.each do |room| %>
    <li>
      <strong> <%= link_to room.name, room_path(room) %> </strong>: <%= "add more info later" %>
    </li>
  <% end %>
</ul>
